body {
    margin: 0;
    padding: 0;
}

#canvas {
    background-color: white;
    border: 2px solid black;
}

.content {
    display: flex;
}

.btnContainer {
    display: flex;
    flex-direction: column;
}